input{
	border-radius: 2px;
	padding: 10px;
	margin: 3px;
	font-family: arial;
	background-color: #e5f2fb;
}

#octocat {
	width: 25%;
}
div {
	width: 50%;
	margin: auto;
	text-align: center;
}

body {
	font-family: Arial;
	text-align: center;
}

ul {
	list-style: none;
}
p {
	text-align: center;
}
li {
	margin: 3px;
}